@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'),
		url('~@/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Merriweather';
	src: local('Merriweather'),
		url('~@/assets/fonts/Merriweather/Merriweather-Black.ttf')
			format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
	unicode-range: U+000-5FF;
}
@keyframes ui_show {
	from {
		opacity: 0;
		visibility: hidden;
		transition: 0.55s opacity, 0.55s visibility;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}
@keyframes ui_slide {
	0% {
		transform: translateY(-150%);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes bounce {
	0% {
		transform: scale(1, 1) translateY(0);
	}
	10% {
		transform: scale(1.1, 0.9) translateY(0);
	}
	30% {
		transform: scale(0.9, 1.1) translateY(-35px);
	}
	50% {
		transform: scale(1, 1) translateY(0);
	}
	57% {
		transform: scale(1, 1) translateY(-7px);
	}
	64% {
		transform: scale(1, 1) translateY(0);
	}
	100% {
		transform: scale(1, 1) translateY(0);
	}
}
