.routerBlock {
	padding: 100px 12px 0 12px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	max-width: 1200px;
	margin: 0 auto;
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Montserrat'),
		url('~@/assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
	/*url('/fonts/Montserrat-Regular.woff2') format('woff');*/
}

@keyframes bounce {
	0% {
		transform: scale(1, 1) translateY(0);
	}
	10% {
		transform: scale(1.1, 0.9) translateY(0);
	}
	30% {
		transform: scale(0.9, 1.1) translateY(-35px);
	}
	50% {
		transform: scale(1, 1) translateY(0);
	}
	57% {
		transform: scale(1, 1) translateY(-7px);
	}
	64% {
		transform: scale(1, 1) translateY(0);
	}
	100% {
		transform: scale(1, 1) translateY(0);
	}
}
